@keyframes slideDown {
    from {
        background-position-y: -100%;
    }
    to {
        background-position-y: 0;
    }
}


@keyframes slideInFromLeft {
    from {
        transform: translateX(-100vw);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100vw);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeftestrela {
    from {
        transform: translateX(-100vw) rotate(55deg);
    }
    to {
        transform: translateX(0)rotate(55deg);
    }
}

@keyframes slideUpPena {
    from {
        transform: translateY(100vw) rotate(75deg);
    }
    to {
        transform: translateY(0) rotate(75deg);
    }
}

@keyframes slideInFromLeftestrela {
    from {
        transform: translateX(-100vw) rotate(60deg);
    }
    to {
        transform: translateX(0)rotate(60deg);
    }
}

@keyframes slideUpPalha {
    from {
        transform: translateY(100vw);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.7);
        opacity: 0;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}